@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/*========================================== NavBar ====================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins", sans-serif; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;  
}



  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: rgba(50, 140, 80, 0.9);
    z-index: 100;
    transition: all 0.3s ease; 
  }

  .sidebar.close{
    width: 48px;

  }

  .sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .sidebar .logo-details .bxs-leaf {
    font-size: 35px;
    color: #fff;
    height: 40px;
    min-width: 45px;
    text-align: right;
    line-height: 50px;
    margin-right: 8px;
  }

  .sidebar .logo-details .bx-menu {
    font-size: 35px;
    color: #fff;
    height: 40px;
    min-width: 45px;
    text-align: right;
    line-height: 50px;
    margin-right: 8px;
    padding-left: 25px;
  }

  .sidebar.close .logo-details .bx-menu{
    padding-left: 10px 

}

  .sidebar .logo-details .logo_name{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    padding-top: 8px;
    
    
    
  }

  .sidebar.close .logo-details .logo_name,
  .sidebar.close .logo-details .bxs-leaf{
    /* opacity: 1; */
    background: none;
    pointer-events: none;
    transition-delay: 0;
    display: none;
  }




.sidebar .nav-link{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}  

.sidebar.close .nav-link{ 
    overflow: visible;
}

.sidebar .nav-link::-webkit-scrollbar{
    display: none;
}

.sidebar .nav-link li{
    position: relative;
    list-style: none;
    transform: all 0.5s ease;
}

.sidebar .nav-link li:hover{
    background: #49bd70;
}

.sidebar .nav-link li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-link li .icon-link{
    display: block;
}

.sidebar .nav-link li i{
    height: 50px;
    min-width: 40px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;

}

.sidebar .nav-link li.showMenu i.arrow{
    transform: rotate(-180deg);
}

.sidebar.close .nav-link i.arrow{
    display: none;
}

.sidebar .nav-link li a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar .nav-link li a .link_name{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.sidebar.close .nav-link li a .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-link li .sub-menu{
    padding: 6px 6px 14px 50px;
    margin-top: -10px;
    background-color: #49bd70;
    display: none;
}

.sidebar .nav-link li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-link li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    /* font-weight: bolder; */
    white-space: nowrap;
    opacity: 0.8;
    transition: all 0.1s ease;
}

.sidebar .nav-link li .sub-menu a:hover{
    opacity: 1;
    font-weight: bold;
}


.sidebar.close .nav-link li .sub-menu{
position: absolute;
left: 100%;
top: -10px;
margin-top: 0;
padding: 10px 20px;
border-radius: 0 6px 6px 0;

opacity: 0;
display:block;
pointer-events: none;
transition: 0.3s;
}

.sidebar.close .nav-link li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4 ease;
}

.sidebar .nav-link li .sub-menu .link-name{
    display: none;
}

.sidebar.close .nav-link li .sub-menu .link-name{
    display: none;
}

.sidebar.close .nav-link li .sub-menu .link-name{

    font-size: 18px;
    opacity: 1;
    display: block;
}


.sidebar .nav-link li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;

}    


.sidebar .nav-link li:hover .sub-menu.blank{
    top: 50%;
    transform:  translateY(-50%)

}

.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    display: flex;
    
    border-top-style: solid;
    border-color: rgb(38, 136, 38);
    border-width: 1px;

    align-items: center;
    justify-content: space-between;
    background: #49bd70;
    width: 200px;
    padding: 6px 0;
    transition: all 0.4s ease;
}
.sidebar.close .profile-details{
    width: 48px;
    padding-left: 1px;
    background: none;
}

.sidebar .profile-details img{
    height: 55px;
    width: 55px;
    object-fit: cover;
    border-radius: 80px;
    margin: 0 14px 1;
    background: 36a15a;
    padding: 1px;
    border-color: #e7f5e7;
    border-style: solid;

}
.sidebar.close .profile-details img{
    height: 30px;
    width: 30px;  
    transition: all 0.3s ease;  
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
    white-space: nowrap;
        
}

.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job,
.sidebar.close .profile-details .bx-log-out{
    display: none;
        
}


.sidebar .profile-details div i {
    font-size: 30px;

}


.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.sidebar.close .profile-details .profile-content {
    padding-left: 10px;
    transition: all 0.1s ease;
    transition-delay: 0;
}


.sidebar .profile-details .profile-content li {
    padding-left: 20px;
}
/*========================================== NavBar ====================================================*/

/*========================================== Footer ====================================================*/
.main-footer {
    margin-left: -10%;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0;
    justify-content: space-around;
    background: #49bd70;
    padding-left: 80px;
    width: 100%;
    height: 40px;
}

.main-footer a {
    color: aliceblue;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    /* filter: brightness(.8); */
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}
/*========================================== Footer ====================================================*/

/* ========================================= Cultura ================================================== */



.cultura {
    margin-top: 30px;
    margin-left: 13rem;
    margin-right: 5%;
}

.cultura .header {
    border-width: 1.5px;
    border-bottom-style: solid;
    font-size: 35px;
    color: #36a15a;
}

/*============== Listagem Cultura ===============*/

.cultura_list .container-fluid{
    background-color: #cbeed7;
    padding: 3px;
}



/*============== Cadastro Cultura ===============*/

.cadastro_cultura {
    margin-top: 30px;
    margin-right: 5%;

}
.cadastro_cultura .form_layout{
    display: grid;
    gap: 5px;
    grid-template-columns: 30rem 20rem;
}


.cadastro_cultura .form_layout .column_left{
    text-align: right;
    width: 30rem;
    
}

.cadastro_cultura .form_layout .column_rigth{
    width: 18rem;
    height: 30px;
    text-align: left;
}

 
.cadastro_cultura .form{

    border-style: solid;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: rgba(182, 184, 183, 0.5);
    padding-top: 15px;

    color: rgba(50, 140, 80, 0.9);
    font-size: 15px;
    font-weight: 600;

    box-shadow:  0em 0.1em 0.1em rgba(88, 88, 87, 0.5);

    margin-top: 5px;
    width: fit-content;

       
    
}



.cadastro_cultura .form input{

    padding-left: 1px;
    width: 300px;
    height: 25px;

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: #36a15a;
    margin-bottom: 30px;
    margin-left: 0;
    transition: all 0.2s ease-in-out;

    font-size: smaller;
}



.cadastro_cultura .form .radio_layout{
    border-bottom-color: #d6f8e1;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 4px 4px 0px;
}

.cadastro_cultura .form .layout_checkbox{
    padding-right: 280px;
    height: 30px;
    
}

.cadastro_cultura .form input:focus{
    background-color: #c5eed3;
    outline-width: 0;
    border-bottom-width: 0;

}

.cadastro_cultura .form select{
    font-size: 15px;
    font-weight: 500;
    padding-left: 30;
    margin-left: -4px;
    width: 50px;
    height: 40px;
    border-top-width: 1;
    border-left-width: 1;
    border-right-width: 1;
    border-bottom-width: 1;

    border-color: #36a15a;
    
}


.cadastro_cultura .form select:focus{
    background-color: #c5eed3;

}


.cadastro_cultura .form .input_radio{
    height: 15px;
    width: 15px;
    margin-left: 10px;


}

.cadastro_cultura .form input[type=checkbox] {
    align-self: flex-start;
    width: 20px;
    height: 18px;
    padding-top: 5px;
} 


.cadastro_cultura .form .button-style{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 700px;
}



.cadastro_cultura .form .herror-text .errorlist{

    background-color: rgb(243, 140, 140); 
    color: #ffffff;
    text-align: center;
    height: 30px;
    padding-top: 3px;
    padding-left: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(243, 36, 36);
    list-style-type: none;
}





/* ========================================= Cultura ================================================== */


